@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Calibri', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* styles.css */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-text-animation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

