@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Calibri', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* styles.css */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-text-animation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}
@font-face {
  font-family: "Museo Sans";
  src: url("/path-to-museo-sans-font-file.woff") format("woff");
  font-weight: 300; /* Adjust if necessary */
  font-style: normal;
}

.font-trebuchet {
  font-family: 'Trebuchet MS', sans-serif;
}

.font-museo {
  font-family: 'Museo Sans', sans-serif;
}

